* {
    margin: 0;
    padding: 0;
}
  
p {
    margin: 0;
    padding: 0;
}
  
ul {
    list-style-type: none;
}
  
a {
    cursor: pointer;
}
  
button {
    background: none;
    border: none;
    color: inherit;
    font: inherit;
    cursor: pointer;
}
  